.notification-list-container {
  margin-top: 30px;
}

.title{
  margin-top: 30px !important;
}

.notification-item {
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.03),
    0 4px 4px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: all .3s ease-in-out;
  margin-bottom: 20px;
  overflow: hidden;
}
.notification-item:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.04),
    0 8px 8px rgba(0, 0, 0, 0.06);
  transform: translateY(-2px);
}

.notification-item .notification-icon {
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  display: inline-block;
  padding: 10px;
  border-radius: 0 0 0 5px;
  text-align: center;
}

.notification-item .notification-content {
  padding: 10px 15px;
}

.notification-item .notification-content h3 {
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.notification-item .notification-date {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 5px;
}

.notification-item .notification-actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  align-items: center;
}

.notification-item .notification-actions button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  transition: all .3s ease;
}

.notification-list-container .no-notifications-text {
  font-style: italic;
  text-align: center;
  color: #aaa;
}
